{
    "trailingComma": "es5",
    "prettier": "latest",
    "tabWidth": 4,
    "semi": true,
    "singleQuote": false,
    "bracketSpacing": true,
    "arrowParens": "always",
    "singleAttributePerLine": true,
    "plugins": ["prettier-plugin-tailwindcss"]
}
