@charset "UTF-8";

@import "variables";




@keyframes slide_up {
    0% {
        transform: translateY(0)
    }

    50% {
        transform: translateY(-50%)
    }

    to {
        transform: translateY(100%)
    }
}



.app_services {
  & .app_box {
    z-index: 99;
    overflow: hidden;
    box-shadow: 0 0 3px #bbb7b7;
    height: 280px;

    &::before {
      position: absolute;
      content: "";
      border: 2px solid #094b67;
      right: -36px;
      bottom: -36px;
      height: 95px;
      width: 95px;
      transition: 500ms ease;
      z-index: -1;
      border-radius: 50%;
      opacity: 0.3;
    }
  

    &::after{
      position: absolute;
      content: "";
      border: 2px solid #094b67;
      right: -15px;
      bottom: -16px;
      height: 50px;
      width: 50px;
      transition: 500ms ease;
      z-index: -1;
      border-radius: 50%;
      opacity: 0.3;
  }
    .col-12 {
      transition: 500ms ease;
    }

    & .app_icon {
      border-radius: 8px;
      transition: 500ms ease;
      width: 75px;
      background: #fff;
      border: 3px solid #e19e16;
      padding: 5px;
  }
    & .app_content {
      border-radius: 14px;
      z-index: 99;
      transition: 500ms ease;
    }

    &:hover {
      &:before {
        height: 100%;
        width: 100%;
        background: #094b67;
        border-radius: 0;
        right: 0;
        top: 0;
        opacity: 1;
      }
      &:after {
        height: 100%;
        width: 100%;
        background: #094b67;
        border-radius: 0;
        right: 0;
        opacity: 1;
      }

      & .col-12 {
        color: #fff !important;
      }

      & .app_icon {
        transform: scale(-1) rotate(180deg);
      }
    }
  }
}





.development_services {
  background: #fff;

  & .devlop_scroll{
      overflow-y: scroll;
      max-height: 350px;
    
    &::-webkit-scrollbar{
        background-color: rgb(205, 205, 205);
        width: 7px;
        border-radius: 6px;
    }
    &::-webkit-scrollbar-thumb{
        background: #0a5474;
        height: 4px;
        width: 4px;
        border-radius: 6px;
    }
}

  & .development_services_box {
      background: #f1f1f1;
      position: relative;
      overflow: hidden;
      z-index: 99;
      transition: 500ms ease;

    & .develop_icon{

       & img{
         width: 196px;
         transition: 500ms ease;
       }
    }
    
    }

  }



.development_process {
  position: relative;

  & .bg_point_color{
      background-color: #f9f9f9;
  }


  .development_icon {
    transition: 500ms ease;
    & img {
      width: 356px;
      transition: 500ms ease;

     
    }
    &:hover{
      & img {
      transform: scale(1.1);
      }
    }
  }
}


a.wave-1,
button.wave-1,
input.wave-1 {
  position: relative;
  overflow: inherit !important;
}
a.wave-1::before,
button.wave-1::before,
input.wave-1::before {
  background: none !important;
}

.benifit_section {
  & .nav {

    & .nav-item {
      border: 1px solid #0a5474;
      border-radius: 50%;
      width: 120px;
      height: 120px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 7px 32px;
      background: #fff;


       &.middle-border {
          &::after {
            height: 15px;
            width: 112%;
            position: absolute;
            content: "";
            top: 46%;
            left: 75px;
            z-index: -1;
            border-top: 2px solid #ddd;
            border-bottom: 2px solid #ddd;
            transition: 500ms ease;
            background: linear-gradient(to right, #0a5474 1%, #0a5474 70%, #ffffff 100%);
            border-color: transparent !important;
          }
        }

      & .nav-link {
        background: #0a5474;
        border-radius: 50%;
        width: 86px;
        height: 86px;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        transition: 500ms ease;

         & img{
           width: 46px;
         }


        &.active {
          border: none;
          background: #e09c19;
        }
        &:hover {
          background: #e09c19;

          &.middle-border {
            &::after {
              background: linear-gradient(to right, #e09c19 1%, #e09c19 70%, #ffffff 100%);
            }
          }
        }
        &:focus {
          box-shadow: none;
        }
      }
    }
  }
}  
  

.features_column{

  & .feature_item{
       transition: 500ms ease;
    & .feature_box{

      & .feature_icon{
          background: #e09c19;
          border-radius: 50%;
          width: 25px;
          height: 25px;
      }
    }
    &:hover{
      background: #094b67;
      color: #fff;
    }
  }
}


.hire_section{
   background: linear-gradient(to right, #03151d 12%, #0b5a7b);

      & .hire_box{
        border: 1px solid #fff;
          border-radius: 9px;
          transition: 500ms ease;

       &.hire_box_2{
         margin-top: -93px;
       }
       &:hover{
          background: #e09c19;
       }
      }
 }


    .banner-cta1{
        background-color: #183249;
      
        & .expert-btn{
          padding: 11px 24px !important;
          color: #222;
          cursor: pointer;
          transition: all ease .4s;
          border-radius: 24px !important;
        }
      }
      
      
      // Faq section
      
      .faq_section {
        background: #f8f9fa;
      }
      .faq_section::before {
        content: "";
        // background: url(../../../img/fantasy-sports-stock-trading-development/footer-bg-3.webp);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-position: top right;
        -webkit-filter: brightness(0.5);
        filter: brightness(0.5);
        z-index: 0;
        -webkit-transform: rotateY(180deg) rotateX(180deg);
        transform: rotateY(180deg) rotateX(180deg);
        background-repeat: no-repeat;
      }
      .faq_section::after {
        content: "";
        // background: url(../../../img/fantasy-sports-stock-trading-development/footer-bg-3.webp);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-position: top right;
        -webkit-filter: brightness(0.5);
        filter: brightness(0.5);
        z-index: 0;
        background-repeat: no-repeat;
      }
      .accordion-item {
        box-shadow: 0 1px 5px 1px #0000000d;
        border-radius: 10px;
        border: 0;
      }
      button.accordion-button {
        background: linear-gradient(to right, darken($theme1, 40) 12%, darken($theme1, 20));
        font-size: 19px;
        text-transform: capitalize;
        font-weight: 600;
        position: relative;
        z-index: 1;
        color: rgba($white, 0.8);
        border-radius: 4px;
        padding: 20px 20px;
      }
      .accordion-button:not(.collapsed) {
        background-color: $theme2;
        color: $white;
        box-shadow: unset;
        outline: unset;
      }
      .list_count {
        list-style-type: decimal-leading-zero;
      }
      .accordion-button::after {
        filter: brightness(20.5);
      }
      
      
      
      .on_demand {
        & .box {
          border-bottom: 7px solid transparent;
          border-radius: 5px;
          transition: all .3s ease;
          background: linear-gradient(45deg, #0b5a7b, #03151d) !important;
          transition: 0.9s ease-in;
          &:hover{
            border-bottom: 7px solid #e09c19 !important;
            transition: all .3s ease;
            transform: translateY(-10px);
            transition: 0.9s ease-in;
            cursor: pointer;
          }
          &:hover img{
            transform:scale(1.05);
            -webkit-transform:scale(1.05);
            -ms-transform:scale(1.05);
            -moz-transform:scale(1.05);
            -o-transform:scale(1.05);
            transition: all .3s ease;
          }
          & .picture{
            overflow: hidden;
            & img{
              height: 100%;
              transition: all .3s ease;
              -webkit-transition: all .3s ease;
              -ms-transition: all .3s ease;
              transform: scale(1.2);
            }
          }
        }
        & .expert-btn {
          padding: 6px 24px !important;
          cursor: pointer;
          transition: all ease .4s;
          border-radius: 24px !important;
       }
       & .items {
       // overflow-x: scroll;
       // scroll-snap-type: x mandatory;
        & .item {
          scroll-snap-align: center;
          scroll-margin: 5px;
        }
       }
      }



      
 @mixin  banking_section-mixin-max-sm(){

  .app_services{
  
    & .app_box {
       height: 337px;
  }
}

  .development_services {
    & .development_services_box {
      flex-direction: column;
      text-align: center;

      & .develop_icon img {
         width: 84px;
      }
    }
  }

  .benifit_section {
    & .nav {
      & .nav-item {
          width: 90px;
          height: 90px;
          margin: 7px 10px;

          &::after{
            display: none;
         }
      }

      & .nav-link {
         width: 65px !important;
         height: 65px !important;

         & img{
            width: 34px;
         }


      }
    }
  }
  



       .hire_section {
           
         & .hire_box.hire_box_2{
             margin-top: 0;
         }
       }
}
        
@mixin  banking_section-mixin-max-md(){

  .heading.left{
  
    &::after {
      right: 0;
    }
    &::before {
      right: 0;
    }
  }

  .benifit_section {
    & .nav {
      & .nav-item {
          width: 100px;
          height: 100px;
          margin: 7px 7px;
      }

      & .nav-link {
         width: 70px !important;
         height: 70px !important;

  
      }
    }
  }



  .hire_section {
           
    & .hire_box.hire_box_2{
        margin-top: 0;
    }
  }
      
}
@mixin  banking_section-mixin-max-lg(){
    
 }
@mixin  banking_section-mixin-max-xl(){
    
}
@mixin  banking_section-mixin-min-xxl(){
    
}
      
      
      
      // XX-Large devices (larger desktops, 1400px and up)
      @media (min-width: 1400px) {
        @include  banking_section-mixin-min-xxl();
      
      }
      
      // X-Large devices (large desktops, less than 1400px)
      @media (max-width: 1399.98px) {
        @include  banking_section-mixin-max-xl();
      
      }
      
      // Large devices (desktops, less than 1200px)
      @media (max-width: 1199.98px) {
        @include  banking_section-mixin-max-lg();
      
      }
      // Medium devices (tablets, less than 992px)
      @media (max-width: 991.98px) {
        @include  banking_section-mixin-max-md();
      
      }
      
      // Small devices (landscape phones, less than 768px)
      @media (max-width: 767.98px) {
        @include  banking_section-mixin-max-sm();
      
      }     