@charset "UTF-8";

@import "variables";


  @keyframes upndown {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(100px);
    }
    100% {
        transform: translateY(0px);
    }
}
.app_services {
  & .app_box {
    z-index: 99;
    overflow: hidden;
    box-shadow: 0 0 3px #bbb7b7;
    height: 320px;

    &::before {
      position: absolute;
      content: "";
      border: 2px solid #094b67;
      right: -36px;
      bottom: -36px;
      height: 95px;
      width: 95px;
      transition: 500ms ease;
      z-index: -1;
      border-radius: 50%;
      opacity: 0.3;
    }
  

    &::after{
      position: absolute;
      content: "";
      border: 2px solid #094b67;
      right: -15px;
      bottom: -16px;
      height: 50px;
      width: 50px;
      transition: 500ms ease;
      z-index: -1;
      border-radius: 50%;
      opacity: 0.3;
  }
    .col-12 {
      transition: 500ms ease;
    }

    & .app_icon {
      border-radius: 8px;
      transition: 500ms ease;
      width: 75px;
      background: #fff;
      border: 3px solid #e19e16;
      padding: 5px;
  }
    & .app_content {
      border-radius: 14px;
      z-index: 99;
      transition: 500ms ease;
    }

    &:hover {
      &:before {
        height: 100%;
        width: 100%;
        background: #094b67;
        border-radius: 0;
        right: 0;
        top: 0;
        opacity: 1;
      }
      &:after {
        height: 100%;
        width: 100%;
        background: #094b67;
        border-radius: 0;
        right: 0;
        opacity: 1;
      }

      & .col-12 {
        color: #fff !important;
      }

      & .app_icon {
        transform: scale(-1) rotate(180deg);
      }
    }
  }
}



.bespoke_process_section{

  & .bespoke_process_box{
    
    & .process_count{
      color: #ebebeb;

      &::before{
        position: absolute;
        content: "";
        top: 60px;
        left: 48%;
        background: #0a5474;
        width: 18px;
        height: 18px;
        border-radius: 50%;
    }
    

    &.lst_child{

        &::after{
          position: absolute;
          content: "";
          top: 70px;
          left: 55%;
          border-top: 1px solid #cecece;
          width: 314px;
          border-radius: 50%;
          z-index: -1;
      }
    }

      
    }
  }
}


.development_process {
  position: relative;

  & .bg_point_color{
      background-color: #f9f9f9;
  }


  .development_icon {
    transition: 500ms ease;
    & img {
      width: 356px;
      transition: 500ms ease;

     
    }
    &:hover{
      & img {
      transform: scale(1.1);
      }
    }
  }
}



.bespoke_solution_section{

  & .solution_sticky{
    position: sticky;
    top: 160px;
  }
   
  & .soution_box{
    overflow: hidden;

    &::before{
      position: absolute;
      content: '';
      background-color: #094964;
      width: 100%;
      height: 0%;
      left: 0px;
      top: 0px;
      z-index: -1;
      transition: all 500ms ease;  
    }

    & .solution_content{
       
      & .col-12{
        transition: all 500ms ease;
      }
    }

    & .solution_icon{ 

       &::before{
        position: absolute;
        content: '';
        background-color: #feeceb;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        top: 1px;
        left: 51%;
        z-index: -1;
        transition: all 500ms ease;
    }

    & img{
      transition: all 500ms ease;
    }
      
    }


    &:hover{

      &:before{
      height: 100%;
      }
      & .solution_content{
       
        & .col-12{
          color: #fff !important;
        }
      }

      & .solution_icon{

        & img{
          filter: brightness(22.5);
        }
      
      &:before{
          background-color: #0525333b;;
      }
          
      }
    }
  }
} 
  

.banner-cta1{
    background-color: #183249;
  
    & .expert-btn{
      padding: 11px 24px !important;
      color: #222;
      cursor: pointer;
      transition: all ease .4s;
      border-radius: 24px !important;
    }
  }
  
  
  // Faq section
  
  .faq_section {
    background: #f8f9fa;
  }
  .faq_section::before {
    content: "";
    // background: url(../../../img/fantasy-sports-stock-trading-development/footer-bg-3.webp);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-position: top right;
    -webkit-filter: brightness(0.5);
    filter: brightness(0.5);
    z-index: 0;
    -webkit-transform: rotateY(180deg) rotateX(180deg);
    transform: rotateY(180deg) rotateX(180deg);
    background-repeat: no-repeat;
  }
  .faq_section::after {
    content: "";
    // background: url(../../../img/fantasy-sports-stock-trading-development/footer-bg-3.webp);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-position: top right;
    -webkit-filter: brightness(0.5);
    filter: brightness(0.5);
    z-index: 0;
    background-repeat: no-repeat;
  }
  .accordion-item {
    box-shadow: 0 1px 5px 1px #0000000d;
    border-radius: 10px;
    border: 0;
  }
  button.accordion-button {
    background: linear-gradient(to right, darken($theme1, 40) 12%, darken($theme1, 20));
    font-size: 19px;
    text-transform: capitalize;
    font-weight: 600;
    position: relative;
    z-index: 1;
    color: rgba($white, 0.8);
    border-radius: 4px;
    padding: 20px 20px;
  }
  .accordion-button:not(.collapsed) {
    background-color: $theme2;
    color: $white;
    box-shadow: unset;
    outline: unset;
  }
  .list_count {
    list-style-type: decimal-leading-zero;
  }
  .accordion-button::after {
    filter: brightness(20.5);
  }
  
  
  
  .on_demand {
    & .box {
      border-bottom: 7px solid transparent;
      border-radius: 5px;
      transition: all .3s ease;
      background: linear-gradient(45deg, #0b5a7b, #03151d) !important;
      transition: 0.9s ease-in;
      &:hover{
        border-bottom: 7px solid #e09c19 !important;
        transition: all .3s ease;
        transform: translateY(-10px);
        transition: 0.9s ease-in;
        cursor: pointer;
      }
      &:hover img{
        transform:scale(1.05);
        -webkit-transform:scale(1.05);
        -ms-transform:scale(1.05);
        -moz-transform:scale(1.05);
        -o-transform:scale(1.05);
        transition: all .3s ease;
      }
      & .picture{
        overflow: hidden;
        & img{
          height: 100%;
          transition: all .3s ease;
          -webkit-transition: all .3s ease;
          -ms-transition: all .3s ease;
          transform: scale(1.2);
        }
      }
    }
    & .expert-btn {
      padding: 6px 24px !important;
      cursor: pointer;
      transition: all ease .4s;
      border-radius: 24px !important;
   }
   & .items {
   // overflow-x: scroll;
   // scroll-snap-type: x mandatory;
    & .item {
      scroll-snap-align: center;
      scroll-margin: 5px;
    }
   }
  }
  
  

  @mixin  bespoke_section-mixin-max-sm(){

    .bespoke_process_section  {
  
      & .bespoke_process_box {
          box-shadow: 0 0 3px;
          border-radius: 9px;


          & .process_count{
              
            &::before{
              display: none;
            }

            &::after{
              display: none;
            }
          }
      }
    }

    .bespoke_solution_section{

       .heading {
        text-align: center;

        &::before{
          right: 0;
        }
        &::after{
          right: 0;
        }
      }
    }
    .app-development_area{
      .heading {
        text-align: center;

        &::before{
          right: 0;
        }
        &::after{
          right: 0;
        }
      }
    }
    
  
         .hire_section {
             
           & .hire_box.hire_box_2{
               margin-top: 0;
           }
         }

}


@mixin  bespoke_section-mixin-max-md(){
  
  .bespoke_process_section  {
  
    & .bespoke_process_box {
        box-shadow: 0 0 3px;
        border-radius: 9px;


        & .process_count{
            
          &::before{
            display: none;
          }

          &::after{
            display: none;
          }
        }
    }
  }

  
}
  @mixin  bespoke_section-mixin-max-lg(){

  }
  @mixin  bespoke_section-mixin-max-xl(){

  }
  @mixin  bespoke_section-mixin-min-xxl(){

  }
  
  
  
  // XX-Large devices (larger desktops, 1400px and up)
  @media (min-width: 1400px) {
    @include  bespoke_section-mixin-min-xxl();
  
  }
  
  // X-Large devices (large desktops, less than 1400px)
  @media (max-width: 1399.98px) {
    @include  bespoke_section-mixin-max-xl();
  
  }
  
  // Large devices (desktops, less than 1200px)
  @media (max-width: 1199.98px) {
    @include  bespoke_section-mixin-max-lg();
  
  }
  // Medium devices (tablets, less than 992px)
  @media (max-width: 991.98px) {
    @include  bespoke_section-mixin-max-md();
  
  }
  
  // Small devices (landscape phones, less than 768px)
  @media (max-width: 767.98px) {
    @include  bespoke_section-mixin-max-sm();
  
  }