@charset "UTF-8";

@import "variables";


.app_services {
  & .app_box {
    z-index: 99;
    overflow: hidden;

    &::before {
      position: absolute;
      content: "";
      border: 2px solid #094b67;
      right: -36px;
      bottom: -36px;
      height: 95px;
      width: 95px;
      transition: 500ms ease;
      z-index: -1;
      border-radius: 50%;
    }
  

    &::after{
      position: absolute;
      content: "";
      border: 2px solid #094b67;
      right: -15px;
      bottom: -16px;
      height: 50px;
      width: 50px;
      transition: 500ms ease;
      z-index: -1;
      border-radius: 50%;
  }
    .col-12 {
      transition: 500ms ease;
    }

    & .app_icon {
      border-radius: 8px;
      transition: 500ms ease;
      width: 75px;
      background: #fff;
      border: 3px solid #e19e16;
      padding: 5px;
  }
    & .app_content {
      border-radius: 14px;
      z-index: 99;
      transition: 500ms ease;
    }

    &:hover {
      &:before {
        height: 100%;
        width: 100%;
        background: #094b67;
        border-radius: 0;
        right: 0;
        top: 0;
      }
      &:after {
        height: 100%;
        width: 100%;
        background: #094b67;
        border-radius: 0;
        right: 0;
      }

      & .col-12 {
        color: #fff !important;
      }

      & .app_icon {
        transform: scale(-1) rotate(180deg);
      }
    }
  }
}


.ecommerce_solution_box{

  & .solution_item{
      transition: 500ms ease;
      z-index: 9;

      &::before{
       position: absolute;
       content: "";
       width: 143px;
       height: 10px;
       border-radius: 20px;
       left: 42px;
       top: -5px;
       background: #183249;
       transition: 500ms ease;
       z-index: -1;
   }

      &::after{
           position: absolute;
           content: "";
           width: 143px;
           height: 10px;
           border-radius: 20px;
           right: 42px;
           bottom: -5px;
           background: #183249;
           transition: 500ms ease;
           z-index: -1;
       }

      & .col-12{
        transition: 500ms ease;
      }
  
           & .solution_icon{
               background: #183249;
               border-radius: 50%;
               padding: 25px;
               transition: 500ms ease;
               box-shadow: 0px 0px 3px #8a8a8a;
               border: 1px solid #183249;
           }
           &:hover{
              
               &:before{
                  height: 100%;
                  width: 100%;
                  left: 0;
                  top: 0;
                  border-radius: 0;
               } 
                
               &:after{
                  height: 100%;
                  width: 100%;
                  bottom: 0;
                  right: 0;
                  border-radius: 0;
               } 
                
          
                 & .solution_icon{
                   border-color: #fff;
                 }
               
               & .col-12{
                   color: #fff !important;
               }
              
           }

  }
}


.features_column{

  & .feature_item{
       transition: 500ms ease;
    & .feature_box{

      & .feature_icon{
          background: #e09c19;
          border-radius: 50%;
          width: 25px;
          height: 25px;
      }
    }
    &:hover{
      background: #094b67;
      color: #fff;
    }
  }
}





.hire_section{
  background: linear-gradient(to right, #03151d 12%, #0b5a7b);

     & .hire_box{
       border: 1px solid #fff;
         border-radius: 9px;
         transition: 500ms ease;

      &.hire_box_2{
        margin-top: -93px;
      }
      &:hover{
         background: #e09c19;
      }
     }
}



    .development_process{
      background: linear-gradient(to right, #03151d 12%, #0b5a7b);
      position: relative;
  
     &::after{ 
      content: "";
      position: absolute;
      inset: 0;
      background: url(../../../img/fintech-software-development/double-bubble-outline.webp);
      background-size: 480px;
      opacity: 0.1;
     }
  
    
        & .develomemt_box{
             border-radius: 15px;
             transition: 500ms ease;
  
          &::before{
            content: "";
            width: 80%;
            left: -15px;
            background: #e09c19;
            height: 80%;
            top: 10%;
            z-index: -1;
            border-radius: 15px;
            position: absolute;
            transition: 500ms ease;
         }
  
         & .col-12{
          transition: 500ms ease;
         }
         & .development_icon{
  
          & i{
            color: #e09c19;
          }
         }
  
  
         &:hover{
             
          &:before{
            display: none;
          }
           background: #094b67 !important;
  
          & .col-12{
            color: #fff !important;
          }
         }
      } 
  
      
      }
    

  
.ecommerce_benifit_box{

    & .benifit_item{
        transition: 500ms ease;
        background-color: #183249;
        clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
        filter: drop-shadow(10px 0px 60px rgba(42, 45, 59, 0.1));
        z-index: 9;

        &::before{
            position: absolute;
            content: "";
            width: 100%;
            height: 13%;
            left: 0;
            bottom: -8px;
            transition: 500ms ease;
            z-index: -1;
            background-image: linear-gradient(120deg, #e29c16 0%, #e29c16 50%, #e29c16 100%);
            clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
            transform-origin: bottom center;
        }        
        

        & .benifit_icon{
            color: #e7e7e7;
            width: 100px;
            height: 100px;
            border-radius: 4px;
            transition: 500ms ease;
            clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
            filter: drop-shadow(10px 0px 60px rgba(42, 45, 59, 0.1));
            background: #e29c16;
        }
      
        
            &:hover{
               
                &:before{
                   height: 100%;
                   transform: scale(1.1);
                }
                & .benifit_icon{
                    background: #183249;
                }
                
               
            }
     }
  }

// cta top btn
.banner_media_cta{
  background-image: url(../../../img/social-demo/bg1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  & .cta_heading{
    color: #094b67;
  }
  
    & .expert-btn{
      padding: 11px 24px !important;
      color: #222;
      background: #094b67;
      cursor: pointer;
      transition: all ease .4s;
      border-radius: 24px !important;
    }
  }


    .banner-cta1{
        background-color: #183249;
      
        & .expert-btn{
          padding: 11px 24px !important;
          color: #222;
          cursor: pointer;
          transition: all ease .4s;
          border-radius: 24px !important;
        }
      }
      
      
      // Faq section
      
      .faq_section {
        background: #f8f9fa;
      }
      .faq_section::before {
        content: "";
        // background: url(../../../img/fantasy-sports-stock-trading-development/footer-bg-3.webp);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-position: top right;
        -webkit-filter: brightness(0.5);
        filter: brightness(0.5);
        z-index: 0;
        -webkit-transform: rotateY(180deg) rotateX(180deg);
        transform: rotateY(180deg) rotateX(180deg);
        background-repeat: no-repeat;
      }
      .faq_section::after {
        content: "";
        // background: url(../../../img/fantasy-sports-stock-trading-development/footer-bg-3.webp);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-position: top right;
        -webkit-filter: brightness(0.5);
        filter: brightness(0.5);
        z-index: 0;
        background-repeat: no-repeat;
      }
      .accordion-item {
        box-shadow: 0 1px 5px 1px #0000000d;
        border-radius: 10px;
        border: 0;
      }
      button.accordion-button {
        background: linear-gradient(to right, darken($theme1, 40) 12%, darken($theme1, 20));
        font-size: 19px;
        text-transform: capitalize;
        font-weight: 600;
        position: relative;
        z-index: 1;
        color: rgba($white, 0.8);
        border-radius: 4px;
        padding: 20px 20px;
      }
      .accordion-button:not(.collapsed) {
        background-color: $theme2;
        color: $white;
        box-shadow: unset;
        outline: unset;
      }
      .list_count {
        list-style-type: decimal-leading-zero;
      }
      .accordion-button::after {
        filter: brightness(20.5);
      }
      
      
      
      .on_demand {
        & .box {
          border-bottom: 7px solid transparent;
          border-radius: 5px;
          transition: all .3s ease;
          background: linear-gradient(45deg, #0b5a7b, #03151d) !important;
          transition: 0.9s ease-in;
          &:hover{
            border-bottom: 7px solid #e09c19 !important;
            transition: all .3s ease;
            transform: translateY(-10px);
            transition: 0.9s ease-in;
            cursor: pointer;
          }
          &:hover img{
            transform:scale(1.05);
            -webkit-transform:scale(1.05);
            -ms-transform:scale(1.05);
            -moz-transform:scale(1.05);
            -o-transform:scale(1.05);
            transition: all .3s ease;
          }
          & .picture{
            overflow: hidden;
            & img{
              height: 100%;
              transition: all .3s ease;
              -webkit-transition: all .3s ease;
              -ms-transition: all .3s ease;
              transform: scale(1.2);
            }
          }
        }
        & .expert-btn {
          padding: 6px 24px !important;
          cursor: pointer;
          transition: all ease .4s;
          border-radius: 24px !important;
       }
       & .items {
       // overflow-x: scroll;
       // scroll-snap-type: x mandatory;
        & .item {
          scroll-snap-align: center;
          scroll-margin: 5px;
        }
       }
      }
      

      




      @mixin   ecommerce_section-mixin-max-sm(){

        .ecommerce_feature_box {
        
        & .feature_item{
            flex-direction: column;

        }
    }

        .app-development_area{
    
            & .heading{
            
                    &::before {
                        right: 0 !important;
                    }
                    
                    &::after{
                        right: 0 !important;
                    }
          }
        }

        .hire_section {
            
          & .hire_box.hire_box_2{
              margin-top: 0;
          }
        }
    
  
    

    }
         
    @mixin   ecommerce_section-mixin-max-md(){

        .app-development_area{
    
            & .heading{
            
                    &::before {
                        right: 0 !important;
                    }
                    
                    &::after{
                        right: 0 !important;
                    }
          }
        }
    
    .hire_section {
            
     & .hire_box.hire_box_2{
         margin-top: 0;
     }
    }
       
  }
 @mixin   ecommerce_section-mixin-max-lg(){
     
    }
    @mixin   ecommerce_section-mixin-max-xl(){
     
    }
    @mixin   ecommerce_section-mixin-min-xxl(){
     
    }
       
       
       
       // XX-Large devices (larger desktops, 1400px and up)
       @media (min-width: 1400px) {
         @include   ecommerce_section-mixin-min-xxl();
       
       }
       
       // X-Large devices (large desktops, less than 1400px)
       @media (max-width: 1399.98px) {
         @include   ecommerce_section-mixin-max-xl();
       
       }
       
       // Large devices (desktops, less than 1200px)
       @media (max-width: 1199.98px) {
         @include   ecommerce_section-mixin-max-lg();
       
       }
       // Medium devices (tablets, less than 992px)
       @media (max-width: 991.98px) {
         @include   ecommerce_section-mixin-max-md();
       
       }
       
       // Small devices (landscape phones, less than 768px)
       @media (max-width: 767.98px) {
         @include   ecommerce_section-mixin-max-sm();
       
       }     