@charset "UTF-8";

@import "variables";



.scale_pop_img{
  transition: 500ms ease;  

  &:hover{
    transform: scale(1.1);
  }
}

.food_ordering_delivery_section{
   & .delievr_box{
    background: #2f5a75;
        & .deliver_img{
            background: #fff;
            width: 30px !important;
            height: 30px;
            border-radius: 50%;
        }
   }
}

.food_delievry_feature{

    & .feature_heading{

        &::after{
            position: absolute;
            content: "";
            left: 16px;
            bottom: -3px;
            background: #e09c19;
            width: 11%;
            height: 3px;
            border-radius: 7px;

            }
        }

        & .feature_min_box{
            border-bottom: 5px solid #ebbe67;
            transition: 500ms ease;

            & img{
                transition: 500ms ease;
            }

            &:hover{
                transform: scale(1.1);
                border-color: #0b5a7b;

                & img{
                    transform: scale(-1) rotate(180deg);
                }
            }
        }

}

.food_delievry_solution{
    background: #282828;

    & .nav-tabs{
        flex-direction: column;

        & .nav-link{
            background: #000;
            border: none;
            position: relative;
            transition: 500ms ease;

            &.active {
                border: none;
                background: #e09c19;
              }
              &:focus{
                box-shadow: none !important;
              }
        }
    }

    & .food_solution_box{
            border-radius: 8px;
            background: #000;

            & .step_count{
                opacity: 0.1;
                right: 25px;
                top: -2px;
                transition: 500ms ease;
            }

            &:hover{

                & .step_count{
                    opacity: 1;
                }
            }
    }
}

.food_delievry_service{

    & .over_scroll{
        overflow-y: scroll;
        height: 440px;

        &::-webkit-scrollbar{
            background-color: #0b5a7b;
            width: 7px;
            border-radius: 6px;
        }
        &::-webkit-scrollbar-thumb{
            background: #e09c19;
            height: 4px;
            width: 4px;
            border-radius: 6px;
        }
    }

    & .bg_delievr_img{
    
    
    &::after{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        background-image: url(../../../img/food-delivery-demo/original/12.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        height: 79%;
        width: 100%;
        z-index: -1;
        opacity: 0.1;
    }
  }


  .service_deliver_box {
    transition: 500ms ease;

    & img{
      transition: 500ms ease;
    }

    &:hover{

      & img{
        transform: scale(-1) rotate(180deg);
       }
    }
  }
}

.food_delievry_feature{
    
    & .feature_box{
       border-radius: 8px;
       transition: 500ms ease;
       background-color: #fafafa;
       border: 1px solid #c1baba;
       
       &::after{
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: #094b67;
        transition: 0.3s;
        z-index: -1;
        border-radius: 8px;
        transform: rotate(-2deg);
        transition: 500ms ease;
        }

      

        & .feature_icon{

            & img{
             transition: 500ms ease;
            }
        }

        &:hover{

            & .feature_icon{
                
                & img{
                    transform: scale(-1) rotate(180deg);
                }
            }
           

            &:after{
               transform: rotate(-6deg);
            }
        }
    }
}


.on_demand_services{

    & .deamand_box{
        border: 0.1em solid #e5e5e5;
        transition: 500ms ease;
        position: relative;

        
        & img{
          transition: 500ms ease;
        }

        &:hover{
          border-color: #0b5a7b;

          & img{
            transform: scale(-1) rotate(180deg);
          }
        }
    }
}



// cta top btn
.banner_media_cta{
  background-image: url(../../../img/food-delivery-demo/blockquote-food-delivery.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  & .cta_heading{
    color: #094b67;
  }
  
    & .expert-btn{
      padding: 11px 24px !important;
      color: #222;
      background: #094b67;
      cursor: pointer;
      transition: all ease .4s;
      border-radius: 24px !important;
    }
  }


    .banner-cta1{
        background-color: #183249;
      
        & .expert-btn{
          padding: 11px 24px !important;
          color: #222;
          cursor: pointer;
          transition: all ease .4s;
          border-radius: 24px !important;
        }
      }
      
      
      // Faq section
      
      .faq_section {
        background: #f8f9fa;
      }
      .faq_section::before {
        content: "";
        // background: url(../../../img/fantasy-sports-stock-trading-development/footer-bg-3.webp);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-position: top right;
        -webkit-filter: brightness(0.5);
        filter: brightness(0.5);
        z-index: 0;
        -webkit-transform: rotateY(180deg) rotateX(180deg);
        transform: rotateY(180deg) rotateX(180deg);
        background-repeat: no-repeat;
      }
      .faq_section::after {
        content: "";
        // background: url(../../../img/fantasy-sports-stock-trading-development/footer-bg-3.webp);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-position: top right;
        -webkit-filter: brightness(0.5);
        filter: brightness(0.5);
        z-index: 0;
        background-repeat: no-repeat;
      }
      .accordion-item {
        box-shadow: 0 1px 5px 1px #0000000d;
        border-radius: 10px;
        border: 0;
      }
      button.accordion-button {
        background: linear-gradient(to right, darken($theme1, 40) 12%, darken($theme1, 20));
        font-size: 19px;
        text-transform: capitalize;
        font-weight: 600;
        position: relative;
        z-index: 1;
        color: rgba($white, 0.8);
        border-radius: 4px;
        padding: 20px 20px;
      }
      .accordion-button:not(.collapsed) {
        background-color: $theme2;
        color: $white;
        box-shadow: unset;
        outline: unset;
      }
      .list_count {
        list-style-type: decimal-leading-zero;
      }
      .accordion-button::after {
        filter: brightness(20.5);
      }
      
      
      
      .on_demand {
        & .box {
          border-bottom: 7px solid transparent;
          border-radius: 5px;
          transition: all .3s ease;
          background: linear-gradient(45deg, #0b5a7b, #03151d) !important;
          transition: 0.9s ease-in;
          &:hover{
            border-bottom: 7px solid #e09c19 !important;
            transition: all .3s ease;
            transform: translateY(-10px);
            transition: 0.9s ease-in;
            cursor: pointer;
          }
          &:hover img{
            transform:scale(1.05);
            -webkit-transform:scale(1.05);
            -ms-transform:scale(1.05);
            -moz-transform:scale(1.05);
            -o-transform:scale(1.05);
            transition: all .3s ease;
          }
          & .picture{
            overflow: hidden;
            & img{
              height: 100%;
              transition: all .3s ease;
              -webkit-transition: all .3s ease;
              -ms-transition: all .3s ease;
              transform: scale(1.2);
            }
          }
        }
        & .expert-btn {
          padding: 6px 24px !important;
          cursor: pointer;
          transition: all ease .4s;
          border-radius: 24px !important;
       }
       & .items {
       // overflow-x: scroll;
       // scroll-snap-type: x mandatory;
        & .item {
          scroll-snap-align: center;
          scroll-margin: 5px;
        }
       }
      }
      

      




      @mixin health_care_section-mixin-max-sm(){

       
    
    }
    
         
    @mixin   health_care_section-mixin-max-md(){

    
       
  }
 @mixin   health_care_section-mixin-max-lg(){
     
    }
    @mixin   health_care_section-mixin-max-xl(){
     
    }
    @mixin   health_care_section-mixin-min-xxl(){
     
    }
       
       
       
       // XX-Large devices (larger desktops, 1400px and up)
       @media (min-width: 1400px) {
         @include   health_care_section-mixin-min-xxl();
       
       }
       
       // X-Large devices (large desktops, less than 1400px)
       @media (max-width: 1399.98px) {
         @include   health_care_section-mixin-max-xl();
       
       }
       
       // Large devices (desktops, less than 1200px)
       @media (max-width: 1199.98px) {
         @include   health_care_section-mixin-max-lg();
       
       }
       // Medium devices (tablets, less than 992px)
       @media (max-width: 991.98px) {
         @include   health_care_section-mixin-max-md();
       
       }
       
       // Small devices (landscape phones, less than 768px)
       @media (max-width: 767.98px) {
         @include   health_care_section-mixin-max-sm();
       
       }     