@charset "UTF-8";

@import "variables";



.why-should-section {
    background: linear-gradient(45deg, #0b5a7b, #03151d) !important;
}

.home-offer-box{

    & .offer_item{
        transition: 500ms ease;
        border-radius: 12px;


        &::after{
            position: absolute;
            content: "";
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-image: url(../../../img/home-services-app-development/info-bg.png);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            border-radius: 8px;
            transition: 500ms ease;
            opacity: 0.4;
        }


        .col-12{
            transition: 500ms ease;
        }

        & .offer_icon{
            width: 120px;
            height: 120px;
            font-size: 45px;
            border-radius: 100%;
            background: #0a4e6a;
            z-index: -1;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: 500ms ease;
            z-index: 9;
            
            & img{
                transition: 500ms ease;
            }
        }
        & .arrow_btm_icon{
                box-shadow: 0 0 3px #000;
                border-radius: 50%;
                width: 40px;
                height: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
                bottom: -19px;
                left: 46%;
                background: #fff;
                transition: 500ms ease;
            }

            &:hover{
                background: #0b5a7b;

                & .offer_icon{
                    background: #fff ;
                    
                    & img{
                        transform: scale(1.1);
                    }
                }
                & .col-12{
                    color: #fff !important;
                }

                & .arrow_btm_icon{
                    color: #0b5a7b;
                    transform: rotate(360deg);
                }

            }
        }
    }


    
    .app-features-section{

        & .nav-tabs{

            .nav-link {
                border-radius: 25px;
                border: 1px solid #fff;
                box-shadow: 0 0 1px #000;
                background: #0a4e6b;
                width: 186px;
                color: #fff;
    
                &.active{
                    background: #df9f18;
                }
                &:hover{
                    border: none;
                }
            }
        }
        
           
     
         & .feature-block-one{
             box-shadow: 0px 0px 10px 3px rgb(0 0 0 / 8%);
             border-radius: 15px;
             padding: 20px 20px;
             text-align: center;
             margin: 0px 0;
             overflow: hidden;
             transition: 500ms ease;
             z-index: 9;

             & .col-12{
                transition: 500ms ease;
             }

             &::before{
                 position: absolute;
                 content: "";
                 background:  #0b5a7b;
                 height: 100%;
                 width: 6px;
                 left: 0;
                 top: 0;
                 transition: 500ms ease;
                 z-index: -1;
             }

             &::after{
                position: absolute;
                content: "";
                background:  #0b5a7b;
                height: 100%;
                width: 6px;
                right: 0;
                top: 0;
                transition: 500ms ease;
                z-index: -1;
            }


             &:hover{


                & .col-12{
                    color: #fff !important;
                }
                &:before{                 
                    width: 100%;
                    transform: scale(1.1);
                }

                &:after{
                   width: 100%;
                    transform: scale(1.1);

                }

             }
             & img{
                 cursor: pointer;
                  transition: transform 0.3s linear;
                  aspect-ratio: 1/1;
                  object-fit: contain;
                  width: 50px !important;
                  object-position: center;
                  transition: 500ms ease;
                  
             }
             &:hover {
                 cursor: pointer;
                 img {
                   transform: rotateY(180deg);
                   transition: transform 0.7s linear;
                   filter: brightness(10);
                 }
               }
         }
     }
     
  

  @mixin  home_services-mixin-max-sm(){

    .app-development_area{
    
      & .heading{
      
              &::before {
                  right: 0 !important;
              }
              
              &::after{
                  right: 0 !important;
              }
    }
  }

    .hire_section {
        
      & .hire_box.hire_box_2{
          margin-top: 0;
      }
    }

   
  
}
     
@mixin  home_services-mixin-max-md(){

  .app-development_area{
    
    & .heading{
    
            &::before {
                right: 0 !important;
            }
            
            &::after{
                right: 0 !important;
            }
       }
   }

    .hire_section {
                
        & .hire_box.hire_box_2{
            margin-top: 0;
        }
    }
}


.banner-cta1{
    background-color: #183249;
  
    & .expert-btn{
      padding: 11px 24px !important;
      color: #222;
      cursor: pointer;
      transition: all ease .4s;
      border-radius: 24px !important;
    }
  }
  
  
  // Faq section
  
  .faq_section {
    background: #f8f9fa;
  }
  .faq_section::before {
    content: "";
    // background: url(../../../img/fantasy-sports-stock-trading-development/footer-bg-3.webp);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-position: top right;
    -webkit-filter: brightness(0.5);
    filter: brightness(0.5);
    z-index: 0;
    -webkit-transform: rotateY(180deg) rotateX(180deg);
    transform: rotateY(180deg) rotateX(180deg);
    background-repeat: no-repeat;
  }
  .faq_section::after {
    content: "";
    // background: url(../../../img/fantasy-sports-stock-trading-development/footer-bg-3.webp);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-position: top right;
    -webkit-filter: brightness(0.5);
    filter: brightness(0.5);
    z-index: 0;
    background-repeat: no-repeat;
  }
  .accordion-item {
    box-shadow: 0 1px 5px 1px #0000000d;
    border-radius: 10px;
    border: 0;
  }
  button.accordion-button {
    background: linear-gradient(to right, darken($theme1, 40) 12%, darken($theme1, 20));
    font-size: 19px;
    text-transform: capitalize;
    font-weight: 600;
    position: relative;
    z-index: 1;
    color: rgba($white, 0.8);
    border-radius: 4px;
    padding: 20px 20px;
  }
  .accordion-button:not(.collapsed) {
    background-color: $theme2;
    color: $white;
    box-shadow: unset;
    outline: unset;
  }
  .list_count {
    list-style-type: decimal-leading-zero;
  }
  .accordion-button::after {
    filter: brightness(20.5);
  }
  
  
  
  .on_demand {
    & .box {
      border-bottom: 7px solid transparent;
      border-radius: 5px;
      transition: all .3s ease;
      background: linear-gradient(45deg, #0b5a7b, #03151d) !important;
      transition: 0.9s ease-in;
      &:hover{
        border-bottom: 7px solid #e09c19 !important;
        transition: all .3s ease;
        transform: translateY(-10px);
        transition: 0.9s ease-in;
        cursor: pointer;
      }
      &:hover img{
        transform:scale(1.05);
        -webkit-transform:scale(1.05);
        -ms-transform:scale(1.05);
        -moz-transform:scale(1.05);
        -o-transform:scale(1.05);
        transition: all .3s ease;
      }
      & .picture{
        overflow: hidden;
        & img{
          height: 100%;
          transition: all .3s ease;
          -webkit-transition: all .3s ease;
          -ms-transition: all .3s ease;
          transform: scale(1.2);
        }
      }
    }
    & .expert-btn {
      padding: 6px 24px !important;
      cursor: pointer;
      transition: all ease .4s;
      border-radius: 24px !important;
   }
   & .items {
   // overflow-x: scroll;
   // scroll-snap-type: x mandatory;
    & .item {
      scroll-snap-align: center;
      scroll-margin: 5px;
    }
   }
  }
  

  
   

@mixin  home_services-mixin-max-lg(){
 
}
@mixin  home_services-mixin-max-xl(){
 
}
@mixin  home_services-mixin-min-xxl(){
 
}
   
   
   
   // XX-Large devices (larger desktops, 1400px and up)
   @media (min-width: 1400px) {
     @include  home_services-mixin-min-xxl();
   
   }
   
   // X-Large devices (large desktops, less than 1400px)
   @media (max-width: 1399.98px) {
     @include  home_services-mixin-max-xl();
   
   }
   
   // Large devices (desktops, less than 1200px)
   @media (max-width: 1199.98px) {
     @include  home_services-mixin-max-lg();
   
   }
   // Medium devices (tablets, less than 992px)
   @media (max-width: 991.98px) {
     @include  home_services-mixin-max-md();
   
   }
   
   // Small devices (landscape phones, less than 768px)
   @media (max-width: 767.98px) {
     @include  home_services-mixin-max-sm();
   
   }     